@import 'bootstrap/customizations.scss';

body {
  background-color: pink;
  // background: url('./images/html5.png') center no-repeat;

  h1 {
    color: $brand-success;
  }

  p {
    color: black;
  }
}